.overskrift{
    color: black;
}
header{
    background: black;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;



}
li {

    display: inline-block;
    margin: 30px;



}

a{
    text-decoration: none;
    color: white;

}

a:hover{
    color: red;
}